#chatbox.hidden {
  display: none;
}

#chatbox {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
  height: 35%;
  position: absolute;
  padding: 10px;
  z-index: 9999;
  top: auto;
  left: auto;
}

.chat-messages {
  max-height: 200px;
  overflow-y: scroll;
  padding: 5px;
}

.input-message {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

.send-button {
  display: block;
  margin-top: 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
